# PlatformIO
Firmware_esp32/.pio/
Firmware_esp32/.vscode/
Firmware_esp32/.pioenvs/
Firmware_esp32/.piolibdeps/
Firmware_esp32/.clang_complete
Firmware_esp32/.gcc-flags.json

# KiCad
*-backups/
*.pos
*.bak
*.bck
*-save.pro
*-save.kicad_pcb
*-save.kicad_sch
*.kicad_pcb-bak
*.kicad_sch-bak
fp-info-cache
*.kicad_prl
_autosave-*
~*.kicad_sch.lck
\#auto_saved_files#

# Draw.io
*.drawio.bkp
.$*.drawio.bkp
